body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; 
    color: #3b2a1e; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #d9c8b5; 
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
      
}

header p {
    font-size: 1.0em;
    font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
    display: inline-block;
    margin: 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
}

h3:hover {
    color: #5a3e2b; 
}

.btn {
    display: inline-block;
    background-color: #3b2a1e; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5a3e2b; 
}

section {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.livro {
    border: 1px solid #3b2a1e; 
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    display: inline-block;
    width: 200px;
    transition: transform 0.3s;
}

.livro:hover {
    transform: scale(1.05); 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #d9c8b5; 
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h4 {
    margin: 10px 0;
}